body {
    font-family: "Poppins";
}

.logo {
    width: 16.875rem;
}

.box {
    vertical-align: top;
    display: flex;
    justify-content: space-between;
}

.topnav {
    padding-right: 18.75rem;
    padding-top: 0.625rem;
    font-size: 0.93rem;
    display: flex;
    justify-content: space-between;
    width: 18.75;
}

.topnav a {
    text-decoration: none;
    color: #013289;
    font-size: larger;
}

.button-1 {
    background-color: navy;
    color: white;
    padding-top: 0.625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 0.625rem;
    font-size: 1.125rem;
    border-radius: 27px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 37px rgba(0, 0, 0, 0.4);
    margin-right: 6.25rem;
    border: none;
    text-align: right;
    vertical-align: top;
}

.img {
    width: 100%;
}

.img-div {
    width: 39.75rem;
    margin-right: -6.25rem;
    margin-top: 1.25rem;
}

.page-1 {
    display: grid;
    grid-template-columns: auto auto;
}

.text {
    width: 39.75rem;
    margin-top: 7.5rem;
    margin-left: 6.25rem;
}

.text h1 {
    color: #012970;
    font-size: 3rem;
}

.text p {
    color: #444444;
    font-size: 1.625rem;
}


.page-2 {
    margin-top: 1.5rem;
}

.title-2 {
    text-align: center;
    color: #012970;
    margin-bottom: 2.5rem;
    font-size: 2.375rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: auto auto;
}

.tiles {
    display: grid;
    grid-template-columns: auto auto;
}

.tiles-div {
    width: 19rem;
    height: 12.5rem;
    background-color: #fafbff;
    margin-bottom: 1.5rem;
}

.tile-text {
    padding-left: 0.625rem;
}

.tile-h {
    color: #012970;
    padding-left: 0.625rem;
    font-size: 1.25rem;
}

.form {
    background-color: #fafbff;
    margin-bottom: 1.875rem;
    margin-right: 6.25rem;
    margin-left: -12.5rem;
}

.realform {
    margin-right: -31.25rem;
    padding: 1.875rem 1.875rem 1.875rem 1.875rem;
    padding-right: 0.625rem;
}

.name {
    font-size: 0.875rem;
    height: 2.5rem;
    width: 15rem;
    border-style: solid;
    background-color: white;
    padding-left: 0.625rem;
    border-color: rgb(222, 222, 222);
    border-width: 1px;
    margin-right: 0.625rem;
}

.email {
    font-size: 0.875rem;
    height: 2.5rem;
    width: 15rem;
    border-style: solid;
    background-color: white;
    padding-left: 0.625rem;
    border-color: rgb(222, 222, 222);
    border-width: 1px;
}

.subject {
    font-size: 0.875rem;
    height: 2.5rem;
    width: 31.875rem;
    border-style: solid;
    background-color: white;
    padding-left: 0.625rem;
    border-color: rgb(222, 222, 222);
    border-width: 1px;
}

.message {
    font-size: 0.875rem;
    height: 10rem;
    width: 31.875rem;
    border-style: solid;
    background-color: white;
    padding-left: 0.625rem;
    border-color: rgb(222, 222, 222);
    border-width: 1px;
}

.send {
    width: 10.375rem;
    height: 2.75rem;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #4154F1;
    font-size: 0.93rem;
    color: white;
    text-align: center;
    align-items: center;
    margin-left: 11.875rem;
    cursor: pointer;
    transition: opacity 0.15s;
}

.send:hover {
    opacity: 0.8;
}

.send:active {
    opacity: 0.5;
}

.page-3 {
    background-image: url(images/BG.png);
    margin-right: -0.625rem;
    margin-left: -0.625rem;
    margin-bottom: -3.125rem;
    margin-top: 1.5rem;
    padding-bottom: 4.68rem;
}

.last {
    color: white;
    font-size: 3.125rem;
    text-align: center;
    margin-left: 18.75rem;
    margin-right: 18.75rem;
    padding-top: 6.25rem;
}

.last-button {
    width: 15rem;
    height: 3rem;
    font-size: 1.25rem;
    background-color: #FFC107;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    border-color: #FFC107;
    transition: opacity 0.15s, border 0.15s;
    margin-top: 0.625rem;
}

.last-button:hover {
    opacity: 0.8;
}

.last-button:active {
    border: 3px solid;
    border-color: #ce9a00;
}

.page-3 {
    text-align: center;
}
