body {
    font-family: "Poppins";
}

.logo {
    width: 270px;
}

.box {
    vertical-align: top;
    display: flex;
    justify-content: space-between;
}

.topnav {
    padding-right: 300px;
    padding-top: 10px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.topnav a {
    text-decoration: none;
    color: #013289;
    font-size: larger;
}

.button-1 {
    background-color: navy;
    color: white;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    border-radius: 27px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 37px rgba(0, 0, 0, 0.4);
    margin-right: 100px;
    border: none;
    text-align: right;
    vertical-align: top;
}

.img {
    width: 100%;
}

.img-div {
    width: 636px;
    margin-right: -100px;
    margin-top: 20px;
}

.page-1 {
    display: grid;
    grid-template-columns: auto auto;
}

.text {
    width: 636px;
    margin-top: 120px;
    margin-left: 100px;
}

.text h1 {
    color: #012970;
    font-size: 48px;
}

.text p {
    color: #444444;
    font-size: 26px;
}


.page-2 {
    margin-top: 25px;
}

.title-2 {
    text-align: center;
    color: #012970;
    margin-bottom: 40px;
    font-size: 38px;
}

.grid-2 {
    display: grid;
    grid-template-columns: auto auto;
}

.tiles {
    display: grid;
    grid-template-columns: auto auto;
}

.tiles-div {
    width: 305px;
    height: 200px;
    background-color: #fafbff;
    margin-bottom: 25px;
}

.tile-text {
    padding-left: 10px;
}

.tile-h {
    color: #012970;
    padding-left: 10px;
    font-size: 20px;
}

.form {
    background-color: #fafbff;
    margin-bottom: 30px;
    margin-right: 100px;
    margin-left: -200px
}

.realform {
    margin-right: -500px;
    padding: 30px 30px 30px 30px;
    padding-right: 10px;
}

.name {
    font-size: 14px;
    height: 40px;
    width: 240px;
    border-style: solid;
    background-color: white;
    padding-left: 10px;
    border-color: rgb(222, 222, 222);
    border-width: 1px;
    margin-right: 10px;
}

.email {
    font-size: 14px;
    height: 40px;
    width: 240px;
    border-style: solid;
    background-color: white;
    padding-left: 10px;
    border-color: rgb(222, 222, 222);
    border-width: 1px;
}

.subject {
    font-size: 14px;
    height: 40px;
    width: 510px;
    border-style: solid;
    background-color: white;
    padding-left: 10px;
    border-color: rgb(222, 222, 222);
    border-width: 1px;
}

.message {
    font-size: 14px;
    height: 160px;
    width: 510px;
    border-style: solid;
    background-color: white;
    padding-left: 10px;
    border-color: rgb(222, 222, 222);
    border-width: 1px;
}

.send {
    width: 166px;
    height: 44px;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #4154F1;
    font-size: 15px;
    color: white;
    text-align: center;
    align-items: center;
    margin-left: 190px;
    cursor: pointer;
    transition: opacity 0.15s;
}

.send:hover {
    opacity: 0.8;
}

.send:active {
    opacity: 0.5;
}

.page-3 {
    background-image: url(images/BG.png);
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: -50px;
    margin-top: 25px;
    padding-bottom: 75px;
}

.last {
    color: white;
    font-size: 50px;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 100px;
}

.last-button {
    width: 240px;
    height: 48px;
    font-size: 20px;
    background-color: #FFC107;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    border-color: #FFC107;
    transition: opacity 0.15s, border 0.15s;
    margin-top: 10px;
    position: relative;
}

.last-button:hover {
    opacity: 0.8;
}

.last-button:active {
    border: 3px solid;
    border-color: #ce9a00;
}

.page-3 {
    text-align: center;
}
